
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
 "http://www.w3.org/TR/html4/loose.dtd">

<html>
  <head>
<title>個人HP</title>
<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<meta http-equiv="Content-Style-Type" content="text/css">

 <style type="text/css">
 <!--
body
        {
          background-color: #cae4ff;
          color: #000000;
         margin:0px;
         padding:0px;
        }
#top
        {
         width:100%;
         height:200px;
        }
#left
        {
         width:30%;
         float:left;
        }
#right
        {
         width:70%;
         float:left;
        }
#ts
        {
        　
        }
 -->
 </style>
 </head>
 <body >

        <div id="top" >
          <%= image_tag 'backs.jpg' %>  <!--画像の表示-->
        </div>
        <div id="left">
            <br><br><br>
          <p><%= link_to image_tag('ry.gif', {  :border => '0', :alt => 'prof',}),'hp/prof' %></p>
          <p><%= link_to image_tag('ry2.gif', {  :border => '0', :alt => 'prof2',}),prof2_hp_index_url %></p>
        </div>
        
        <div id="right"><left>
          
            <br><br>
           
            <p><FONT size="6"><strong>--- profile ---</strong></FONT></p><br>
            <font size="5"><span style="border-bottom:1px dotted black" >徳田 裕太/Tokuda Yu-ta</span></font>
            <p>
            <table id="ts" border=”1″>
            <tbody>
            <tr><td>■出身</td><td>京都府京都市左京区</td></tr>
            <tr><td>■生年月日</td><td>1992/11/23</td></tr>
            <tr><td>■血液型</td><td>O型</td></tr>
            <tr><td>■趣味</td><td>バスケ、サッカー、ダーツ、スロット、買い物、ファッション誌とヘアカタログを読むこと</td></tr>
            <tr><td>■好きな食べ物</td><td>ナタデココヨーグルトゼリー(たらみ)、タピオカミルクティー、梨</td></tr>
            <tr><td>■嫌いな食べ物</td><td>野菜、生魚、チョコレート、梅干し、生卵</td></tr>
            <tr><td>■休日の過ごし方</td><td>スロット、買い物、ダーツ、飲み会</td></tr>

            </tbody>
      
            </table>
          </left>
            </p>
            
        </div>

 </body>
</html>