<html>
<head>
<title>個人HP</title>

<style type="text/css">
div.top{
	     width:660px;
         height:200px;
}
.left{
         width:220px;
         height:300px;
         float: left;
}
.right{
         width:440px;
         height:300px;
         float: left;
}
</style>

</head>
<body>

<div id="top">
 <%= image_tag 'backs.jpg' %>  <!--画像の表示-->
</div>
<div id="left" >
<p><%= link_to image_tag('test.gif', {  :border => '0', :alt => 'prof',}),'hp/prof' %></p>
</div>
</div>
<div id="right">

<p><FONT size="7"><strong>--- profile ---</strong></FONT></p><br>
<font size="5"><span style="border-bottom:1px dotted black" >徳田 裕太/Tokuda Yu-ta</span></font>
<p>
<table>
<tr><td>qqqqqq</td><td>aaaaaaa</td></tr>
<tr><td>qqqqqq</td><td>aaaaaaa</td></tr>
<tr><td>qqqqqq</td><td>aaaaaaa</td></tr>
<tr><td>qqqqqq</td><td>aaaaaaa</td></tr>
</table>
</p>
</center></div>


</body>
</html>